*{
    margin: 0;
    
}
.signup{
    background-color: #fafafa;
    height: 100vh;

    
}
.signup__header{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 1px solid lightgray;
    padding-block-start: 30px;
    padding-block-end: 30px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    /* width: 30%; */
}

.signup__body{
    position: absolute;
    top:50% ;
    left: 50%;
    transform:translate(-50%,-50%);
}    

.signup__headerImage{
    object-fit: contain;
    margin: 22px 82.5px 12px;
}
.signup__input{
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  width: 60%;
  margin: 15px;
  margin-left: 150px;
  margin-right: 150px;
  border: 1px  solid gray;
  outline-width: 0;
}
.signup__button {
    background-color:#0095F6;
    border: 1px solid #0095F6;
    border-radius: 3px;
    padding: 9px 0 7px 8px;
    margin :12px 40px 15px 40px;
    width: 60%;
    color:white;
}
.signup__forgetPassword{
    border: none;
    font-style: none !important;
    text-transform: unset !important;
    margin: 12px 40px 100px 40px;
}

.signup__link{
    border: 1px  solid lightgray;
    background-color: white;
    padding-block-start: 20px;
    padding-block-end: 20px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    margin-top: 20px;
    font-weight: 20;
    font-size: 15px;
}
.signup__linkButton{
    border: none;
    color: #0095F6 !important ;
    text-transform: unset !important;
}
.signup__linkButton :hover{
    border: none;
    color: #0084D0;
    cursor: pointer;
    
}
.forgetPassword__icon{
    font-size: 80px !important;
    margin-top: 10px;
}
.forgetPassword__headerImage{
    object-fit: fill;
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    position: sticky;
    top:0;
}
.forgetPassword__h1{
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0 10px 0;
}
.forgetPassword__p{
    font-size: 15px;
    font-weight: normal;
    width: 50%;
    color: gray;
    margin: 0 0 10px 0;
}
.signup__google{
    text-transform: unset !important;
    border: 1px solid gray !important;
    margin: 10px 0 10px 0 !important;
    background-color: #fafafa;

}
.signup__googleIcon{
        width: 20px;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
}
@media screen and (max-width: 720px){
    .forgetPassword__headerImage{
        object-fit: fill;
        padding-top: 20px;
        text-align: center;
        background-color: #fafafa;
        border: none;
        position: sticky;
        top:0;
    }
    .signup__headerImage{
        object-fit: contain;
        margin: 22px 82.5px 12px;
    }
    .signup__input{
      background-color: #fafafa;
      padding: 9px 0 7px 8px;
      width: 100%;
      margin: 15px;
      margin-left: 150px;
      margin-right: 150px;
      border: 1px  solid gray;
      outline-width: 0;
    }
    .signup__button {
        background-color:#0095F6;
        border: 1px solid #0095F6;
        border-radius: 3px;
        padding: 9px 0 7px 8px;
        margin :12px 40px 15px 40px;
        width: 100%;
        color:white;
    }  
    .signup__header{
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        border: 1px solid lightgray;
        padding-block-start: 30px;
        padding-block-end: 30px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        width:80%;
        /* width: 30%; */
    }
    .signup__link{
        border: 1px  solid lightgray;
        background-color: white;
        padding-block-start: 20px;
        padding-block-end: 20px;
        margin-top: 20px;
        font-weight: 20;
        font-size: 15px;
        width:80%;
    }
    .forgetPassword__p{
        font-size: 15px;
        font-weight: normal;
        width: 80%;
        color: gray;
        margin: 0 0 10px 0;
    }
}
